<section>
    <div class="container">
        <div class="section-inner">
            <div class="fz30 md-fz25 text-semibold sm-fz22 mb-40 lg-mb-20 text-center text-uppercase">
                <p>Наши клиенты</p>
            </div>
            <div class="clients-slider owl-carousel navs-size-2">
                {% for 1 in 1..20 %}
                    <div class="clients-slider__item">
                        <img src="images/clients2.jpg" alt="">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>