<div class="page-header__number position-relative fx fx-middle">
    <p class="fz27 md-fz22 text-semibold">+7(473) 251 ..</p>
    <span class="page-header__number-toggle ml-5">
        <span class="icon-trubka-wrapper lh-0">
            <svg class="svg-icon icon-trubka">
                <use xlink:href="images/svg-icons.svg#trubka"/>
            </svg>
        </span>
        <span class="icon-close-wrapper">
            <svg class="svg-icon icon-close">
                <svg class="svg-icon icon-close" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><circle class="icon-close__circle" cx="256" cy="256" r="253.44"/><path d="M350.02 144.066l17.52 17.522c6.047 6.047 6.047 15.852 0 21.9l-183.933 183.93c-6.047 6.05-15.852 6.048-21.9 0l-17.52-17.52c-6.048-6.048-6.048-15.853 0-21.9l183.93-183.934c6.05-6.046 15.854-6.046 21.902.002z" fill="#FFF"/><path  d="M367.54 349.9l-17.522 17.52c-6.047 6.048-15.852 6.048-21.9 0L144.186 183.49c-6.047-6.047-6.047-15.852 0-21.9l17.522-17.522c6.047-6.047 15.852-6.047 21.9 0L367.54 328c6.048 6.047 6.048 15.852 0 21.9z" fill="#FFF"/></svg>
            </svg>
        </span>
    </span>
    <div class="page-header__number-overlay"></div>
    <div class="page-header__number-dd">
        <div class="mb-20">
            <div class="fx fx-left fx-middle mb-10">
                    <div class="icon-trubka-wrapper mr-8">
                        <svg class="svg-icon icon-trubka">
                            <use xlink:href="images/svg-icons.svg#trubka"/>
                        </svg>
                    </div>
                <span>
                  <a href="tel:+74732510056" class="page-header__phone fz26 md-fz22 text-uppercase">+7(473)
                    251 00 56</a>
                </span>
            </div>
            <div class="fx fx-left fx-middle mb-10">
                    <div class="icon-trubka-wrapper mr-8">
                        <svg class="svg-icon icon-trubka">
                            <use xlink:href="images/svg-icons.svg#trubka"/>
                        </svg>
                    </div>
                <span>
                     <a href="tel:+74732510056" class="page-header__phone fz26 md-fz22 text-uppercase">+7(473)
                    251 00 56</a>
                </span>
            </div>
            <div class="fx fx-left fx-middle">
                <div class="icon-trubka-wrapper mr-8">
                    <svg class="icon-mail-circle">
                        <use xlink:href="images/svg-icons.svg#mail-circle"/>
                    </svg>
                </div>
                <span>
                  <a href="mailto:info@r-time.ru" class="page-header__mail text-semibold fz22">
                      info@r-time.ru
                  </a>
                </span>
            </div>
        </div>

        <div class="form-wrapper ">
            <form action="" class="">
                <div class="mb-20 list-mb-20">
                    <div class="input-wrapper">
                        <label for="" class="text-uppercase text-white text-bold mb-5 block">
                            Ваше имя
                        </label>
                        <div class="input-wrapper">
                            <input type="text"/>
                        </div>
                    </div>
                    <div class="input-wrapper">
                        <label for="" class="text-uppercase text-white text-bold mb-5 block">
                            Ваш телефон
                        </label>
                        <div class="input-wrapper">
                            <input name="phone" type="text"/>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary bg-brand2 btn-primary--bordered btn-primary--top btn-primary--right-shadow">
                        заказать звонок
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>