<div class="page-header__number position-relative fx fx-middle">
    <p class="fz27 sm-fz22">+7(473) 251 ..</p>
    <span class="page-header__number-toggle ml-5">
        <div class="icon-trubka-wrapper">
            <svg class="svg-icon icon-trubka">
                <use xlink:href="images/svg-icons.svg#trubka"/>
            </svg>
        </div>
    </span>
    <div class="page-header__number-overlay"></div>
    <div class="page-header__number-dd">
        <div class="mb-20">
            <div class="fx fx-left fx-middle mb-10">

                    <div class="icon-trubka-wrapper mr-8">
                        <svg class="svg-icon icon-trubka">
                            <use xlink:href="images/svg-icons.svg#trubka"/>
                        </svg>
                    </div>
                <span>
                  <a href="tel:+74732510056" class="page-header__phone fz26 sm-fz22 text-uppercase">+7(473)
                    251 00 56</a>
                </span>

            </div>
            <div class="fx fx-left fx-middle">

                    <div class="icon-trubka-wrapper mr-8">
                        <svg class="svg-icon icon-trubka">
                            <use xlink:href="images/svg-icons.svg#trubka"/>
                        </svg>
                    </div>
                <span>
                     <a href="tel:+74732510056" class="page-header__phone fz26 sm-fz22 text-uppercase">+7(473)
                    251 00 56</a>
                </span>

            </div>
        </div>

        <div class="form-wrapper ">
            <form action="" class="">
                <div class="mb-20 list-mb-20">
                    <div class="input-wrapper">
                        <label for="" class="text-uppercase text-white text-bold mb-5 block">
                            Ваше имя
                        </label>
                        <div class="input-wrapper">
                            <input type="text"/>
                        </div>
                    </div>
                    <div class="input-wrapper">
                        <label for="" class="text-uppercase text-white text-bold mb-5 block">
                            Ваш телефон
                        </label>
                        <div class="input-wrapper">
                            <input name="phone" type="text"/>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary bg-brand2 btn-primary--bordered btn-primary--top btn-primary--right-shadow">
                        заказать звонок
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>