<div class="schedule text-center full-width  {{ classes }}">
    <div class="schedule-list mb-5 fx-inline fx-center">
        <span class="schedule-item">Пн</span>
        <span class="schedule-item">Вт</span>
        <span class="schedule-item">Ср</span>
        <span class="schedule-item">Чт</span>
        <span class="schedule-item">Пт</span>
    </div>
    <p>с 9:00 до 18:00 </p>
</div>