<div class="travel-scheme fx fx-middle fx-left">
    <span class="travel-scheme__img">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 595.20002 595.29997" width="595.2" height="595.3"><ellipse cx="297.6" cy="513.2" rx="297.6" ry="82.1" fill="#393"/><path d="M427.7 54.6c-72.8-72.8-191-72.8-263.8 0-65.6 65.6-73 189.2-17.3 263.5l149.2 215.6L445 318.2c55.8-74.3 48.4-197.9-17.3-263.6zM297.6 246.3c-34 0-61.6-27.6-61.6-61.6s27.6-61.6 61.6-61.6 61.6 27.6 61.6 61.6-27.5 61.6-61.6 61.6z" fill="#f48b00"/></svg>
    </span>
    <div>
        <div class="text-uppercase">
            <p>Воронеж</p>
        </div>
        <p class="fz-14 text-brand">
            Схема проезда
        </p>
    </div>
</div>