<div class="travel-scheme text-semibold">
    <a href="#" class="fx fx-middle text-primary fx-left"><span class="travel-scheme__img">
        <svg class="svg-icon icon-map">
            <use xlink:href="images/svg-icons.svg#map"/>
        </svg>
    </span>
    <div>
        <div class="text-uppercase">
            <p>Воронеж</p>
        </div>
        <p class="fz-14 text-brand">
            Схема проезда
        </p>
    </div></a>
</div>