.travel-scheme__img
	margin-right: 8px
	svg
		width: 36px
		height: 36px
		
.travel-scheme
	line-height: 0

		
.header-logo
	max-width: 210px
	line-height: 0
	img
		width: 100%
	+respond-to(md)
		max-width: 135px
		svg
			height: 50px
.minw300
	min-width: 300px
		
.page-header__number-dd
	.btn
		width: 255px
		
.page-header__phone
	color: $text-primary
	font-family: $font-base-semibold

.page-header__logo-panel
	padding: 10px 0
	
.border-grey
	border: 1px solid #eee !important
	
.page-header__number-toggle
	cursor: pointer
	z-index: 220
	.icon-trubka-wrapper
		
		cursor: pointer
		&:hover
			background-color: $brand2 * 0.8
			
	.icon-close-wrapper
		display: none
			
	&.active
		.icon-trubka-wrapper
			display: none

		.icon-close-wrapper
			display: block
		
		
		&::before
			transform: translate(-50%, -50%) rotate(45deg)
		
		&::after
			transform: translate(-50%, -50%) rotate(-45deg)
	
			
	
.icon-trubka-wrapper
	width: 35px
	height: 35px
	display: flex
	align-items: center
	justify-content: center
	border-radius: 100%
	background-color: $brand2
	
.tablet-nav-panel
	padding: 10px 0
	background-color: $grey
	+respond-to(sm)
		padding: 10px 0

.schedule-item
	background-color: $brand
	border-radius: 12px
	width: 32px
	color: #fff
	font-size: 16px
	font-family: $font-base-semibold
	line-height: 32px
	text-align: center
	height: 32px
	&:not(:last-child)
		margin-right: 7px
		
		
.page-header__nav-list
	display: flex
	height: 100%
	
	justify-content: flex-start
	align-items: stretch
	& > li
		+trans()
		flex-grow: 1
		display: flex
		position: relative
		align-items: center
		text-align: center
		&:hover
			background-color: $brand2
			& > a
				color: $text-primary
		& > a
			display: inline-block
			padding: 15px
			flex-grow: 1
			line-height: 1em
			font-size: 16px
			color: $text-primary
			font-family: $font-base-semibold
		
			
				
.nav-parent
	.hamburger
		&:hover
			background-color: transparent
		padding: 0
		width: 25px
		height: 22px
		margin-left: 15px