<div class="width-1-4 lg-width-1-3 md-width-1-2 sm-width-12">
    <div class="fx fx-center fx-wrap fx-top">
        <div class="icon-wrapper fx fx-bottom mb-20" data-mh="adv-icon-wrapper">
            <a href="#" class="lh-0  block">
                <svg class="svg-icon icon-{{ icon }}">
                    <use xlink:href="images/svg-icons.svg#{{ icon }}"/>
                </svg>
            </a>
        </div>
        <div class="fz24 md-fz22 fx-grow-1 full-width text-uppercase text-center text-sub">
            <p>{{ text }}</p>
        </div>
    </div>
</div>