<div class="goods-item fx fx-left">
    <div class="goods-item__img">
        <div class="img-wrapper"><img src="http://lorempixel.com/400/300/" alt=""></div>
    </div>
    <div class="goods-item__caption push-right-1">
        <div class="goods-item__caption-inner">
            <div class="goods-item__title">
                <p>{{ title }}</p>
            </div>
            <div>
                <p>{{ text }}</p>
            </div>
        </div>
        <span class="goods-item__price">
            от <span>25</span> руб/см
        </span>
    </div>
</div>