<div class="fx fx-column fx-middle">
    <div class="text-brand text-underline text-center mb-10">
        <a href="#">{{ text }}</a>
    </div>
    <svg class="svg-icon icon-arrow">
        <use xlink:href="images/svg-icons.svg#arrow"/>
    </svg>
</div>