<div class="portfolio-item width- {{ classes }}">
    <div class="portfolio-item__image">
        <img src="http://via.placeholder.com/{{ img }}" alt="">
    </div>
    <div class="portfolio-item__caption">
        <div class="portfolio-item__title">
            <p>{{ title }}</p>
        </div>
        <div class="portfolio-item__text">
            <p>{{ text }}</p>
        </div>
    </div>
</div>