<div class="width-1-3 lg-width-1-2 sm-width-12">
    <div class="thumbnail centered">
        <div class="thumbnail__top">
            <div class="thumbnail__img" data-mh="prod-thumbnail-img">
                <a href="#" class="lh-0">
                    <svg class="svg-icon icon-{{ icon }}">
                        <use xlink:href="images/svg-icons.svg#{{ icon }}"/>
                    </svg>
                </a>
            </div>
            <div class="fz22 lg-fz18 text-uppercase thumbnail-text fx fx-middle fx-center" data-mh="thumbnail-services-text">
                <p>{{ title }}</p>
            </div>
        </div>
        <div class="thumbnail-caption" data-mh="thumbnail-services-caption">
            <p>{{ text }}</p>
        </div>
    </div>
</div>

