<div class="thumbnail">
    <div class="thumbnail__img fx fx-bottom">
        <a href="#" class="lh-0">
            <svg class="svg-icon icon-{{ icon }}">
                <use xlink:href="images/svg-icons.svg#{{ icon }}"/>
            </svg>
        </a>
    </div>
    <div class="fz20 text-uppercase text-center">
        <p>{{ text }}</p>
    </div>
</div>