.breadcrumbs
	list-style: none
	padding: 20px 0
	font-family: $font-base-light
	margin-top: -35px
	white-space: nowrap
	text-overflow: ellipsis
	color: $brand
	overflow: hidden
	& > *
		&:not(:first-child)
			position: relative
			&::before
				display: inline-block
				vertical-align: middle
				content: '|'
				font-size: 15px
				font-family: $font-base-light
				color: $brand
				margin-left: 6px
				margin-right: 10px
	
	.breadcrumbs__text,
	.breadcrumbs__link
		color: $text-primary
		font-size: 15px
		+respond-to(sm)
			font-size: 12px
		
	
	.breadcrumbs__text
		color: $brand
	.breadcrumbs__link
		&:hover
			text-decoration: underline