.schedule
	max-width: 200px
	
.goods-item__title
	font-size: 20px
	text-transform: uppercase
	margin-bottom: 15px
	font-family: $font-base-semibold
	+respond-to(md)
		font-size: 18px
		
.goods-list


.goods-item
	+respond-to(lg)
		background-color: $grey
		padding:  30px 15px 30px 15px
		border-bottom: 1px solid #ccc
		margin: 0 -15px
	&:not(:last-child)
		padding-bottom: 30px
	

	
.goods-item__caption
	+respond-to(md)
		margin-right: 0
	
.goods-item__price
	color: $brand
	font-size: 21px
	font-family: $font-base-semibold
	& > span
		font-size: 35px

.goods-item__img
	width: 295px
	flex-shrink: 0
	margin-right: 20px
	img
		width: 100%
		object-fit: cover
		height: 100%
	+respond-to(md)
		width: 100%
		margin-right: 0
		margin-bottom: 20px
		
		
.thumbnail-text
	font-family: $font-base-semibold

.section-title-wrapper
	margin-bottom: 50px
	+respond-to(lg)
		margin-bottom: 30px
	+respond-to(md)
		margin-bottom: 25px
	.section-title
		margin-bottom: 10px
	
.section-title__sub
	text-align: center
	font-size: 22px
	font-family: $font-base-light
	color: $brand

.section-title
	font-size: 30px
	font-family: $font-base-semibold
	text-transform: uppercase
	position: relative
	text-align: center
	padding-top: 25px
	+respond-to(md)
		font-size: 25px
	+respond-to(sm)
		font-size: 22px
	&::before
		content: ''
		display: inline-block
		width: 44px
		height: 6px
		border-radius: 3px
		background-color: $brand2
		position: absolute
		left: 50%
		top: 0
		transform: translateX(-50%)
		
	&.section-title__big
		&::before
			width: 172px
			height: 10px
			border-radius: 5px
			
.thumbnail
	display: flex
	flex-direction: column
	max-width: 330px
	+respond-to(lg)
		max-width: 255px
	
.thumbnail-caption
	margin-top: auto
	font-family: $font-base-light
	text-align: center
	+respond-to(lg)
		font-size: 14px
.big-img
	height: 165px

.thumbnail__img
	margin-bottom: 20px
	display: flex
	align-items: flex-end
	justify-content: center

.thumbnail__top
	text-align: center
	margin-bottom: 15px

.banner__icon
	width: 160px
	height: 160px
	flex-shrink: 0
	border: 6px solid #eee
	background-color: $brand
	display: flex
	border-radius: 100%
	position: relative
	z-index: 1
	align-items: center
	justify-content: center
	img
		width: 50% // 940 260
	&.bg-white
		background-color: #fff
	

.p-0-135
	padding: 0 135px
	
table
	&.td-left
		td:first-child
			text-align: left
		td:last-child
			text-align: right
			
.pr-15
	padding-right: 15px

.banner
	border-radius: 12px
	display: flex
	align-items: center
	justify-content: space-between
	padding: 35px 0
	overflow: hidden
	min-height: 250px
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
		height: 250px
	+respond-to(sm)
		border-radius: 0
	+respond-to(lg)
		min-height: auto
		min-height: initial
		border-radius: 0
		margin: 0 -15px
	&.banner--reverse
		flex-direction: row-reverse
		.banner-image
			&::before
				left: -3%
				width: 375px
		.banner-contain
			padding-right: 0
			padding-left: 135px
			+respond-to(lg)
				padding: 0 15px
	
	.banner-image
		position: relative
		width: 325px
		min-height: 200px
		display: flex
		align-items: center
		justify-content: center
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
			height: 200px
		&::before
			content: ''
			background-color: $brand2
			position: absolute
			left: -50%
			top: -105%
			width: 480px
			height: 600px
			border: 8px solid #ffffff
			border-radius: 100%
		+respond-to(dk)
			width: 260px
			&::before
				content: ''
				background-color: $brand2
				position: absolute
				left: -80%
				
		+respond-to(lg)
			display: none

	.banner-contain
		position: relative
		z-index: 1
		
		width: calc(100% - 375px)
		padding-right: 135px
		+respond-to(dk)
			width: calc(100% - 310px)
		+respond-to(lg)
			width: 100%
			text-align: center
			padding-left: 135px
		+respond-to(md)
			padding: 0 15px
	&.banner--50x50
		padding: 20px
		+respond-to(lg)
			min-height: auto
			min-height: initial
			margin: 0 -15px
		.banner-image
			width: 50%
			&::before
				width: calc(100% + 85px)
				left: -15%
			
		.banner-contain
			width: 50%
			padding-right: 0
			+respond-to(lg)
				width: 100%
				padding-left: 0
		.banner__icon
			width: 130px
			height: 130px
		.icon-info
			width: 40px
			height: 90px
	&.bg-bilboard
		background-image: url(../images/banner.svg)
		background-repeat: no-repeat
		-webkit-background-size: contain
		background-size: contain
		background-position: 100% 10px
.banner__v2
	padding: 0
	min-height: 395px
	display: flex
	justify-content: space-between
	border-radius: 0
	background-color: $grey
	position: relative
	overflow: hidden
	+respond-to(lg)
		min-height: auto
		min-height: initial
		flex-direction: column
		margin: 0 -15px
	+respond-to(sm)
		margin: 0 -15px
	.banner-left
		text-align: left
		width: calc(100% - 420px)
		padding: 30px 0 30px 30px
		&::before
			display: none
		+respond-to(lg)
			width: 100%
			padding: 30px
		+respond-to(md)
			padding: 15px
			
	.banner-right
		width: 497px
		height: 615px
		position: absolute
		right: -98px
		top: -110px
		overflow: hidden
		border-radius: 100%
		border: 8px solid #ffffff
		img
			width: 100%
			height: 100%
			object-fit: contain
		+respond-to(lg)
			display: none
			
.pl-20
	padding-left: 20px
	
.btn-banner
	position: absolute
	right: -5px
	bottom: 25px


	
.pagination__chevron-right, .pagination__chevron-left
	transform: rotate(45deg)
	position: relative

.pagination__chevron-right
	+chevron(10px, 2px, r, $brand)
	left: -15px

.pagination__chevron-left
	+chevron(10px, 2px, l, $brand)
	right: -15px
	
.uk-pagination
	display: inline-block
	font-family: $font-base-semibold
	& > li
		& > a, & > span
			border-radius: 12px
			background-color: $brand
			width: 32px
			height: 32px
			font-size: 18px
			color: #fff
			text-align: center
			line-height: 32px
			+trans()
			&:hover
				color: #fff
				background: $brand2
			+respond-to(sm)
				width: 30px
				height: 30px
	&__arrow-left > a, &__arrow-right > a, &__arrow-left > span, &__arrow-right > span
		display: flex
		align-items: center
		justify-content: center
		background-color: transparent !important
			
			
.uk-pagination>.uk-active>span
	background-color: $brand2
	
.uk-pagination>li:nth-child(n+2)
	margin-left: 8px
	
	
.slideout-panel
	will-change: initial
	
.goods-item__caption-inner
	margin-bottom: 20px
	p+p
		margin-top: 15px
	h3
		font-size: 20px
		text-transform: uppercase
		margin-bottom: 15px
		font-family: $font-base-semibold
		+respond-to(md)
			font-size: 18px
			
.hamburger
	flex-direction: column
	width: 40px
	height: 40px
	display: flex
	box-shadow: none
	background-color: transparent
	border: none
	outline: none
	padding: 9px 8px
	+trans()
	cursor: pointer
	& > span
		width: 23px
		height: 4px
		border-radius: 3px
		background-color: #fff
		&:not(:last-child)
			margin-bottom: 5px
	&:hover
		background-color: $brand * 0.8
	&.hamburger-slide-toggle
		border-radius: 100%
		background: $brand2
		
.checked-item
	display: flex
	align-items: center
	.icon-check
		margin-right: 10px
	&:not(:last-child)
		margin-right: 35px
	+respond-to(lg)
		&:not(:last-child)
			margin-right: 0
			margin-bottom: 20px
			
.modal-close-btn, .icon-close-wrapper
	line-height: 0
	font-size: 0
	cursor: pointer
	svg
		+trans()
		.icon-close__circle
			fill: $brand2
			+trans()
	&:hover
		svg
			.icon-close__circle
				fill: $brand2 * 0.9
				
.modal-close-btn
	position: absolute
	top: 10px
	right: 10px
	
.fancybox-slide>div
	overflow: visible !important

.modal-order
	min-width: 310px
	width: calc(100% - 15px) !important
	max-width: 860px
	border-radius: 10px
	border: 2px solid #ffffff
	background-color: $brand
	padding: 40px
	+respond-to(lg)
		padding: 20px
	&.uk-modal-dialog
		+respond-to(lg)
			padding: 45px 20px
			
	.input-wrapper input, .input-wrapper textarea
		+respond-to(md)
			font-size: 16px