.schedule
	max-width: 200px
	
.goods-item__title
	font-size: 20px
	text-transform: uppercase
	margin-bottom: 15px
	+respond-to(md)
		font-size: 18px
	
.goods-item
	&:not(:last-child)
		margin-bottom: 30px
	
.goods-item__caption-inner
	margin-bottom: 20px
	
.goods-item__price
	color: $brand
	font-size: 21px
	& > span
		font-size: 35px

.goods-item__img
	width: 295px
	flex-shrink: 0
	margin-right: 20px
	img
		width: 100%
		object-fit: cover
		height: 100%
	+respond-to(md)
		width: 100%
		margin-right: 0
		margin-bottom: 20px
		

.section-title-wrapper
	margin-bottom: 30px
	
.section-title__sub
	text-align: center
	font-size: 22px
	font-family: $font-base-light
	color: $brand

.section-title
	font-size: 30px
	text-transform: uppercase
	position: relative
	text-align: center
	padding-top: 25px
	+respond-to(md)
		font-size: 25px
	+respond-to(sm)
		font-size: 22px
	&::before
		content: ''
		display: inline-block
		width: 44px
		height: 6px
		border-radius: 3px
		background-color: $brand2
		position: absolute
		left: 50%
		top: 0
		transform: translateX(-50%)
		
	&.section-title__big
		&::before
			width: 172px
			height: 10px
			border-radius: 5px
			
.thumbnail
	display: flex
	flex-direction: column
	
	
.thumbnail-caption
	margin-top: auto
	font-family: $font-base-light
	text-align: center
	
.big-img
	height: 165px
	width: auto
	svg
		height: 100%
		width: auto

.thumbnail__img
	height: 106px
	margin-bottom: 20px
	display: flex
	align-items: flex-end
	justify-content: center

.thumbnail__top
	text-align: center
	margin-bottom: 15px

.banner__icon
	width: 160px
	height: 160px
	border: 8px solid #ffffff
	background-color: $brand
	display: flex
	border-radius: 100%
	position: relative
	z-index: 1
	align-items: center
	justify-content: center
	img
		width: 50% // 940 260

.p-0-135
	padding: 0 135px
	
table
	&.td-left
		td:first-child
			text-align: left
		td:last-child
			text-align: right

.banner
	border-radius: 12px
	display: flex
	justify-content: space-between
	padding: 20px 0
	overflow: hidden
	min-height: 250px
	+respond-to(sm)
		margin: 0 -15px
		border-radius: 0
	&.banner--reverse
		flex-direction: row-reverse
		.banner-image
			&::before
				left: -3%
				width: 375px
		.banner-contain
			padding-right: 0
			padding-left: 135px
			+respond-to(lg)
				padding: 0 15px
	
	.banner-image
		position: relative
		width: 325px
		display: flex
		align-items: center
		justify-content: center
		&::before
			content: ''
			background-color: $brand2
			position: absolute
			left: -15%
			top: -66%
			width: 359px
			height: 460px
			border: 8px solid #ffffff
			border-radius: 100%
		+respond-to(dk)
			width: 260px
			&::before
				content: ''
				background-color: $brand2
				position: absolute
				left: -45%
				
		+respond-to(lg)
			display: none

	.banner-contain
		position: relative
		z-index: 1
		
		width: calc(100% - 375px)
		padding-right: 135px
		+respond-to(dk)
			width: calc(100% - 310px)
		+respond-to(lg)
			width: 100%
			text-align: center
			padding-left: 135px
		+respond-to(md)
			padding: 0 15px
	
.banner__v2
	padding: 0
	min-height: 395px
	display: flex
	justify-content: space-between
	border-radius: 0
	background-color: $grey
	position: relative
	overflow: hidden
	+respond-to(dk)
		min-height: initial
	+respond-to(sm)
		margin: 0 -15px
	.banner-left
		text-align: left
		width: calc(100% - 420px)
		padding: 30px 0 30px 30px
		&::before
			display: none
		+respond-to(dk)
			width: 100%
		
			padding: 30px
		+respond-to(md)
			padding: 15px
			
			//text-align: center
	.banner-right
		width: 497px
		height: 580px
		position: absolute
		right: -98px
		top: -95px
		overflow: hidden
		border-radius: 100%
		border: 8px solid #ffffff
		img
			width: 100%
			height: 100%
			object-fit: contain
		+respond-to(dk)
			display: none
			
	
.btn-banner
	position: absolute
	right: -5px
	bottom: 25px


	
.pagination__chevron-right, .pagination__chevron-left
	transform: rotate(45deg)
	position: relative

.pagination__chevron-right
	+chevron(10px, 2px, r, $brand)
	left: -15px

.pagination__chevron-left
	+chevron(10px, 2px, l, $brand)
	right: -15px
	
.uk-pagination
	display: inline-block
	& > li
		& > a, & > span
			border-radius: 12px
			background-color: $brand
			width: 32px
			height: 32px
			font-size: 18px
			color: #fff
			text-align: center
			line-height: 32px
			+trans()
			&:hover
				color: #fff
				background: $brand2
			+respond-to(sm)
				width: 30px
				height: 30px
		&:last-child > a, &:first-child > a
			display: flex
			align-items: center
			justify-content: center
			background-color: transparent
			
			
.uk-pagination>.uk-active>span
	background-color: $brand2
	
.uk-pagination>li:nth-child(n+2)
	margin-left: 8px
	
	
.slideout-panel
	will-change: initial
	

	
.hamburger
	flex-direction: column
	width: 40px
	height: 40px
	display: flex
	box-shadow: none
	background-color: transparent
	border: none
	outline: none
	padding: 9px 8px
	+trans()
	cursor: pointer
	& > span
		width: 23px
		height: 4px
		border-radius: 3px
		background-color: #fff
		&:not(:last-child)
			margin-bottom: 5px
	&:hover
		background-color: $brand * 0.8
	&.hamburger-slide-toggle
		border-radius: 100%
		background: $brand2