.icon-avto
	width: 116px
	height: 72px
.icon-bukvi
	width: 91px
	height: 84px
.icon-calendar
	width: 83px
	height: 83px
.icon-watch
	width: 124px
	height: 165px
.icon-clothe
	width: 86px
	height: 87px
.icon-design
	width: 75px
	height: 75px
.icon-drill
	width: 90px
	height: 64px
.icon-gift
	width: 95px
	height: 85px
.icon-groceries
	width: 77px
	height: 86px
.icon-stend
	width: 90px
	height: 93px
.icon-korob
	width: 84px
	height: 96px
		
.logo, .footer-logo
	height: 77px
	width: 100%

		
.footer-logo
	#logo-text
		fill: #fff
	svg
		height: 77px
		width: 100%
		
	
.icon-map
	width: 36px
	height: 36px
.icon-meal
	width: 80px
	height: 82px
.icon-note
	width: 59px
	height: 71px

.icon-plotter
	width: 119px
	height: 83px
.icon-plus
	width: 86px
	height: 86px
.icon-production
	width: 87px
	height: 73px
.icon-salon
	width: 85px
	height: 86px
	margin-left: 25px
.icon-shtender
	width: 87px
	height: 106px
.icon-tablichka
	width: 139px
	height: 89px
.icon-taxi
	width: 99px
	height: 77px
.icon-trubka
	width: 18px
	height: 18px
.icon-showcase
	width: 94px
	height: 81px
.icon-signboard
	width: 141px
	height: 75px