// Icons from directory ""
%icon {
	background-repeat: no-repeat
}
.icon-avto,
.icon-avto\:regular {
	@extend %icon;
	background-image: url('images/icons/icons.svg');
	background-position: 0 0;
}
.icon-avto-dims {
	width: 116px;
	height: 72px;
}
.icon-bukvi,
.icon-bukvi\:regular {
	@extend %icon;
	background-image: url('images/icons/icons.svg');
	background-position: 0 -72px;
}
.icon-bukvi-dims {
	width: 99px;
	height: 92px;
}
.icon-chasy,
.icon-chasy\:regular {
	@extend %icon;
	background-image: url('images/icons/icons.svg');
	background-position: 0 -164px;
}
.icon-chasy-dims {
	width: 223.04038004751px;
	height: 300px;
}
.icon-disayn_maket,
.icon-disayn_maket\:regular {
	@extend %icon;
	background-image: url('images/icons/icons.svg');
	background-position: 0 -464px;
}
.icon-disayn_maket-dims {
	width: 300px;
	height: 300px;
}
.icon-drill,
.icon-drill\:regular {
	@extend %icon;
	background-image: url('images/icons/icons.svg');
	background-position: 0 -764px;
}
.icon-drill-dims {
	width: 300px;
	height: 213px;
}
.icon-groceries,
.icon-groceries\:regular {
	@extend %icon;
	background-image: url('images/icons/icons.svg');
	background-position: 0 -977px;
}
.icon-groceries-dims {
	width: 43px;
	height: 55px;
}
.icon-health-clinic,
.icon-health-clinic\:regular {
	@extend %icon;
	background-image: url('images/icons/icons.svg');
	background-position: 0 -1032px;
}
.icon-health-clinic-dims {
	width: 32px;
	height: 32px;
}
.icon-korob,
.icon-korob\:regular {
	@extend %icon;
	background-image: url('images/icons/icons.svg');
	background-position: 0 -1064px;
}
.icon-korob-dims {
	width: 106px;
	height: 120px;
}
.icon-logo,
.icon-logo\:regular {
	@extend %icon;
	background-image: url('images/icons/icons.svg');
	background-position: 0 -1184px;
}
.icon-logo-dims {
	width: 300px;
	height: 116px;
}
.icon-map,
.icon-map\:regular {
	@extend %icon;
	background-image: url('images/icons/icons.svg');
	background-position: 0 -1300px;
}
.icon-map-dims {
	width: 300px;
	height: 300px;
}
.icon-meal,
.icon-meal\:regular {
	@extend %icon;
	background-image: url('images/icons/icons.svg');
	background-position: 0 -1600px;
}
.icon-meal-dims {
	width: 294.7265625px;
	height: 300px;
}
.icon-odezhda,
.icon-odezhda\:regular {
	@extend %icon;
	background-image: url('images/icons/icons.svg');
	background-position: 0 -1900px;
}
.icon-odezhda-dims {
	width: 290.14598540146px;
	height: 300px;
}
.icon-perfume,
.icon-perfume\:regular {
	@extend %icon;
	background-image: url('images/icons/icons.svg');
	background-position: 0 -2200px;
}
.icon-perfume-dims {
	width: 295.3125px;
	height: 300px;
}
.icon-plotter,
.icon-plotter\:regular {
	@extend %icon;
	background-image: url('images/icons/icons.svg');
	background-position: 0 -2500px;
}
.icon-plotter-dims {
	width: 243px;
	height: 168px;
}
.icon-podarok,
.icon-podarok\:regular {
	@extend %icon;
	background-image: url('images/icons/icons.svg');
	background-position: 0 -2668px;
}
.icon-podarok-dims {
	width: 270.25210084034px;
	height: 300px;
}
.icon-proizvodstvo,
.icon-proizvodstvo\:regular {
	@extend %icon;
	background-image: url('images/icons/icons.svg');
	background-position: 0 -2968px;
}
.icon-proizvodstvo-dims {
	width: 300px;
	height: 250px;
}
.icon-salon,
.icon-salon\:regular {
	@extend %icon;
	background-image: url('images/icons/icons.svg');
	background-position: 0 -3218px;
}
.icon-salon-dims {
	width: 297.3544973545px;
	height: 300px;
}
.icon-shtender,
.icon-shtender\:regular {
	@extend %icon;
	background-image: url('images/icons/icons.svg');
	background-position: 0 -3518px;
}
.icon-shtender-dims {
	width: 96px;
	height: 117px;
}
.icon-soglasovanie,
.icon-soglasovanie\:regular {
	@extend %icon;
	background-image: url('images/icons/icons.svg');
	background-position: 0 -3635px;
}
.icon-soglasovanie-dims {
	width: 247.9809976247px;
	height: 300px;
}
.icon-sroki,
.icon-sroki\:regular {
	@extend %icon;
	background-image: url('images/icons/icons.svg');
	background-position: 0 -3935px;
}
.icon-sroki-dims {
	width: 299.49916527546px;
	height: 300px;
}
.icon-stend,
.icon-stend\:regular {
	@extend %icon;
	background-image: url('images/icons/icons.svg');
	background-position: 0 -4235px;
}
.icon-stend-dims {
	width: 96px;
	height: 101px;
}
.icon-strelka,
.icon-strelka\:regular {
	@extend %icon;
	background-image: url('images/icons/icons.svg');
	background-position: 0 -4336px;
}
.icon-strelka-dims {
	width: 300px;
	height: 172px;
}
.icon-tablichka,
.icon-tablichka\:regular {
	@extend %icon;
	background-image: url('images/icons/icons.svg');
	background-position: 0 -4508px;
}
.icon-tablichka-dims {
	width: 178px;
	height: 113px;
}
.icon-taxi,
.icon-taxi\:regular {
	@extend %icon;
	background-image: url('images/icons/icons.svg');
	background-position: 0 -4621px;
}
.icon-taxi-dims {
	width: 300px;
	height: 233px;
}
.icon-tel_trubka,
.icon-tel_trubka\:regular {
	@extend %icon;
	background-image: url('images/icons/icons.svg');
	background-position: 0 -4854px;
}
.icon-tel_trubka-dims {
	width: 32px;
	height: 32px;
}
.icon-vitriny,
.icon-vitriny\:regular {
	@extend %icon;
	background-image: url('images/icons/icons.svg');
	background-position: 0 -4886px;
}
.icon-vitriny-dims {
	width: 137px;
	height: 119px;
}
.icon-viveski,
.icon-viveski\:regular {
	@extend %icon;
	background-image: url('images/icons/icons.svg');
	background-position: 0 -5005px;
}
.icon-viveski-dims {
	width: 141px;
	height: 74px;
}