{% extends "layouts/app.twig" %}

{% block pageTitle %}Контакты{% endblock %}

{% block content %}

    <main class="page-main">
        <div class="breadcrumb">
            <div class="container">
                {% include 'components/breadcrumb.twig' with {items: [{title: 'Главная', url: 'index.html'}, {title: 'Курсы', url: '#'}, {title: 'Индивидуальное обучение'}]} %}
            </div>
        </div>
        <section>
            <div class="container">
                <div class="section-inner">
                    {% include 'elements/page-title.twig' with {title: 'Контакты агентства «Рекламное время»'} %}
                    <div class="list-mb-25">
                        <div class="banner bg-grey ">
                            <div class="grid grid-20 lg-grid-40 sm-grid-20 full-width fx-middle p-0-135 lg-p0">
                                <div class="width-8 lg-width-12 fx fx-left lg-fx-center fx-middle text-semibold">
                                    <svg class="svg-icon icon-tel mr-15">
                                        <use xlink:href="images/svg-icons.svg#tel"/>
                                    </svg>
                                    <a href="tel:84732151515" class="contacts__phone fz30 md-fz22 text-primary">8 (473)
                                        215-15-15</a>
                                </div>
                                <div class="width-4  lg-width-12 fx fx-left fx-middle lg-fx-center">
                                    <svg class="svg-icon icon-mail mr-15">
                                        <use xlink:href="images/svg-icons.svg#mail"/>
                                    </svg>
                                    <a href="mailto:info@r-time.ru" class="contacts__mail text-primary text-semibold">
                                        info@r-time.ru
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="banner bg-grey ">
                            <div class="grid grid-20 lg-grid-40 sm-grid-20 full-width fx-middle p-0-135 lg-p0">
                                <div class="width-8  lg-width-12 fx fx-left lg-fx-center">
                                    <div class="text-left">
                                        <div class="fz21 text-uppercase text-bold mb-15 lg-text-center">
                                            <p>адрес:</p>
                                        </div>
                                        <div class="text-left lg-text-center">
                                            <p>394016, г. Воронеж,</p>
                                            <p>Московский проспект, д. 11/6</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="width-4 lg-width-12  fx fx-left lg-fx-center">
                                    <div class="text-center">
                                        <div class="fz21 text-uppercase mb-10 text-bold">
                                            <p>Режим работы</p>
                                        </div>
                                        {% include "components/shedule.twig" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="banner bg-brand banner--reverse">
                            <div class="banner-image p-rel">
                                <div class="banner-circle"></div>
                                <div class="banner__icon mb-20">
                                    <svg class="icon-printer">
                                        <use xlink:href="images/svg-icons.svg#printer"/>
                                    </svg>
                                </div>
                                <a href="#" class="doc-link text-white text-underline fz14">
                                    Скачать
                                </a>
                            </div>
                            <div class="banner-contain fx fx-middle lg-fx-center">

                                <div>
                                    <div class="fz21 mb-20 text-uppercase text-semibold">
                                        <p>Реквизиты компании:</p>
                                    </div>
                                    <div class="text-white text-right mb-20">
                                        <table class="td-left full-width text-semibold">
                                            <tr>
                                                <td>ООО</td>
                                                <td>"Рекламное Время"</td>
                                            </tr>
                                            <tr>
                                                <td>ИНН</td>
                                                <td>366218821309</td>
                                            </tr>
                                            <tr>
                                                <td>ОГРН</td>
                                                <td>312366808900023</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="text-center all-services-btn xlg-hidden">
                                        <span class="minw175 btn-filter btn btn-primary btn-primary--top btn-primary--bordered btn-primary--right-shadow bg-brand2 fz21">скачать</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>
        <div class="contacts-map" id="map">
            {% include "elements/section-title.twig" with {"title": "Схема проезда"} %}
        </div>
    </main>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="js/YaMap.js"></script>

{% endblock %}