{% extends "layouts/app.twig" %}

{% block pageTitle %}Главная страница{% endblock %}

{% block content %}

    <main class="page-main">
        <div class="breadcrumb">
            <div class="container">
                {% include 'components/breadcrumb.twig' with {items: [{title: 'Главная', url: 'index.html'}, {title: 'Курсы', url: '#'}, {title: 'Индивидуальное обучение'}]} %}
            </div>
        </div>
        <section>
            <div class="container">
                <div class="section-inner">
                    <div class="services-block grid grid-20">
                        <div class="services-block__sidebar width-3 xlg-visible">
                            <div class="sidebar-navbar">
                                <div class="sidebar-navbar__item">
                                    <div class="sidebar-navbar__item-title">
                                        <p>Наши услуги</p>
                                    </div>
                                    <div class="sidebar-navbar__item-contain">
                                        <div class="sidebar-navbar__nav-wrapper">
                                            <ul class="sidebar-navbar__nav">
                                                <li><a href="#">Вывески</a></li>
                                                <li class="navbar-nav-parent 0">
                                                    <a href="#">Объемные буквы</a>
                                                    <ul class="navbar-nav-dropdown">
                                                        <li><a href="#">Несветовые буквы</a></li>
                                                        <li><a href="#">Световые буквы</a></li>
                                                        <li><a href="#">Буква световая
                                                                (ручная сборка)</a></li>
                                                        <li><a href="#">Подсветка буквы сзади</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Баннеры</a></li>
                                                <li><a href="#">Световые короба</a></li>
                                                <li><a href="#">Брендирование авто</a></li>
                                                <li class="navbar-nav-parent 1">
                                                    <a href="#">Оформление витрин</a>
                                                    <ul class="navbar-nav-dropdown">
                                                        <li><a href="#">Несветовые буквы</a></li>
                                                        <li><a href="#">Световые буквы</a></li>
                                                        <li><a href="#">Буква световая
                                                                (ручная сборка)</a></li>
                                                        <li><a href="#">Подсветка буквы сзади</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Информационные стенды</a></li>
                                                <li><a href="#">Штендеры</a></li>
                                                <li class="navbar-nav-parent 2">
                                                    <a href="#">Таблички</a>
                                                    <ul class="navbar-nav-dropdown">
                                                        <li><a href="#">Несветовые буквы</a></li>
                                                        <li><a href="#">Световые буквы</a></li>
                                                        <li><a href="#">Буква световая
                                                                (ручная сборка)</a></li>
                                                        <li><a href="#">Подсветка буквы сзади</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="sidebar-navbar__item">
                                    <div class="sidebar-navbar__item-title">
                                        <p>Комплексные
                                            решения</p>
                                    </div>
                                    <div class="sidebar-navbar__item-contain">
                                        <div class="sidebar-navbar__nav-wrapper">
                                            <ul class="sidebar-navbar__nav">
                                                <li><a href="#">
                                                        Реклама на транспорте</a></li>
                                                <li><a href="#">Витрины магазинов</a></li>
                                                <li><a href="#">Дизайн ресепшн</a></li>
                                                <li><a href="#">Световые короба</a></li>
                                                <li><a href="#">Рекламные вывески</a></li>
                                                <li><a href="#">Информационные стенды</a></li>
                                                <li><a href="#">Интерьеры магазинов</a></li>
                                                <li><a href="#">Крышные установки</a></li>
                                                <li><a href="#">Входные группы</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="services-block__main width-9 lg-width-12">
                            <div class="mb-40">
                                <div class="fz30 text-uppercase mb-20">
                                    <p>Объемные буквы в Воронеже </p>
                                </div>
                                <div class="text-paragraph">
                                    <p>Рекламные вывески из объемных букв широко применяются как в наружной, так и в
                                        интерьерной рекламе(внутри помещений). Они используются при оформлении банков,
                                        юридических компаний, торговых и развлекательных центров, магазинов, аптек,
                                        гостиниц, ночных клубов, баров, ресторанов и т.д.</p>
                                    <p>Рекламная мастерская «Rich Art» может предложить Вам изготовление объемных букв
                                        в следующих вариациях:</p>
                                </div>
                            </div>
                            <div class="goods-list mb-30">
                                {% include 'elements/goods-item.twig' with {title: 'Объемные буквы с контражурной подсветкой.', text: 'Объемные буквы с контражурной подсветкой – считается одним из наиболее стильных типов вывесок. За счет своей оригинальности, стильности и правильно подобранного освещения буквы с контражуром смотрятся очень респектабельно и солидно. Они могут использоваться, как: фасадные и интерьерные вывески, логотипы для ресепшн.'} %}
                                {% include 'elements/goods-item.twig' with {title: 'Объемные буквы с контражурной подсветкой.', text: 'Объемные буквы с контражурной подсветкой – считается одним из наиболее стильных типов вывесок. За счет своей оригинальности, стильности и правильно подобранного освещения буквы с контражуром смотрятся очень респектабельно и солидно. Они могут использоваться, как: фасадные и интерьерные вывески, логотипы для ресепшн.'} %}
                                {% include 'elements/goods-item.twig' with {title: 'Объемные буквы с контражурной подсветкой.', text: 'Объемные буквы с контражурной подсветкой – считается одним из наиболее стильных типов вывесок. За счет своей оригинальности, стильности и правильно подобранного освещения буквы с контражуром смотрятся очень респектабельно и солидно. Они могут использоваться, как: фасадные и интерьерные вывески, логотипы для ресепшн.'} %}
                                {% include 'elements/goods-item.twig' with {title: 'Объемные буквы с контражурной подсветкой.', text: 'Объемные буквы с контражурной подсветкой – считается одним из наиболее стильных типов вывесок. За счет своей оригинальности, стильности и правильно подобранного освещения буквы с контражуром смотрятся очень респектабельно и солидно. Они могут использоваться, как: фасадные и интерьерные вывески, логотипы для ресепшн.'} %}
                            </div>
                            {% include 'components/pagination.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="section-inner">
                    <div class="banner">
                        <div class="banner-left">
                            <div class="banner-circle"></div>
                            <div class="banner__icon">
                                <img src="images/podarok.svg" alt="">
                            </div>
                        </div>
                        <div class="banner-right fx fx-middle">
                            <div class="text-paragraph text-white">
                                <p>Рекламные вывески из объемных букв широко применяются как в наружной, так и в
                                    интерьерной рекламе(внутри помещений). Они используются при оформлении банков,
                                    юридических компаний, торговых и развлекательных центров, магазинов, аптек,
                                    гостиниц, ночных клубов, баров, ресторанов и т.д. Рекламная мастерская
                                    «Rich Art» может предложить Вам изготовление объемных букв
                                    в следующих вариациях:</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="section-inner">
                    {% include "elements/section-title.twig" with {"title": "Наша продукция" ,"type" : "big"} %}
                    <div class="grid grid-20">
                        <div class="width-1-3">
                            <a href="#" class="btn btn-primary btn-primary-outline-bg1 full-width">Вывески</a>
                        </div>
                        <div class="width-1-3">
                            <a href="#" class="btn btn-primary btn-primary-outline-bg1 full-width">Объемные буквы</a>
                        </div>
                        <div class="width-1-3">
                            <a href="#" class="btn btn-primary btn-primary-outline-bg1 full-width">Баннеры</a>
                        </div>
                        <div class="width-1-3">
                            <a href="#" class="btn btn-primary btn-primary-outline-bg1 full-width">Световые короба</a>
                        </div>
                        <div class="width-1-3">
                            <a href="#" class="btn btn-primary btn-primary-outline-bg1 full-width">Брендирование
                                авто</a>
                        </div>
                        <div class="width-1-3">
                            <a href="#" class="btn btn-primary btn-primary-outline-bg1 full-width">Оформление витрин</a>
                        </div>
                        <div class="width-1-3">
                            <a href="#" class="btn btn-primary btn-primary-outline-bg1 full-width">Информационные
                                стенды</a>
                        </div>
                        <div class="width-1-3">
                            <a href="#" class="btn btn-primary btn-primary-outline-bg1 full-width">Штендеры</a>
                        </div>
                        <div class="width-1-3">
                            <a href="#" class="btn btn-primary btn-primary-outline-bg1 full-width">Таблички</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>


{% endblock %}