{% extends "layouts/app.twig" %}

{% block pageTitle %}Серфисы{% endblock %}

{% block content %}

    <main class="page-main">
        <div class="breadcrumb">
            <div class="container">
                {% include 'components/breadcrumb.twig' with {items: [{title: 'Главная', url: 'index.html'}, {title: 'Курсы', url: '#'}, {title: 'Индивидуальное обучение'}]} %}
            </div>
        </div>
        <section>
            <div class="container">
                <div class="section-inner">
                    <div class="banner__v2">
                        <div class="img-wrapper lh-0 xlg-hidden">
                            <img class="full-width" src="http://via.placeholder.com/1000x350" alt="">
                        </div>
                        <div class="banner-left">
                            <div class="text-brand text-semibold fz40 md-fz25 sm-fz22 text-uppercase mb-25">
                                <p>Изготовление
                                    объемных букв
                                    в Воронеже</p>
                            </div>
                            <div class="mb-30 text-light fz23">
                                <ul class="marked-list mb-20">
                                    <li>Изготовление объемных букв в Воронеже
                                        Один из самых красивых, популярных,
                                        эффективных видов наружной рекламы.
                                    </li>
                                </ul>
                                <div class="text-brand fx21 text-regular pl-20 text-semibold">
                                    <p>от<span class="fz35 inline ml-5 mr-5 ">25</span>руб/см</p>
                                </div>
                            </div>
                            <div class="fx fx-left fx-middle md-fx-column  md-full-width">
                                <div class="w-235 md-full-width md-mb-20 md-text-center">
                                    <span class="mr-15 btn btn-primary btn-primary--right btn-primary--bordered btn-primary--right-shadow bg-brand2 fz21" data-uk-modal="{target:'#modal-order', center:true}">ОТПРАВИТЬ ЗАЯВКУ</span>
                                </div>
                                <div class="text-uppercase text-semibold">
                                    <p>Оставьте заявку
                                        и получите скидку 10%</p>
                                </div>
                            </div>
                        </div>
                        <div class="banner-right">
                            <img src="http://lorempixel.com/clothe/388/395/" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="section-inner">
                    {% include 'elements/page-title.twig' with {title: 'Объемные буквы в Воронеже'} %}
                    <div class="services-block grid grid-20">
                        <div class="services-block__sidebar width-3 xlg-visible">
                            <div class="sidebar-navbar">
                                <div class="sidebar-navbar__item">
                                    <div class="sidebar-navbar__item-title">
                                        <p>Наши услуги</p>
                                    </div>
                                    <div class="sidebar-navbar__item-contain">
                                        <div class="sidebar-navbar__nav-wrapper">
                                            <ul class="sidebar-navbar__nav">
                                                <li><a href="#">Вывески</a></li>
                                                <li class="navbar-nav-parent 0">
                                                    <a href="#">Объемные буквы</a>
                                                    <ul class="navbar-nav-dropdown">
                                                        <li><a href="#">Несветовые буквы</a></li>
                                                        <li><a href="#">Световые буквы</a></li>
                                                        <li><a href="#">Буква световая
                                                                (ручная сборка)</a></li>
                                                        <li><a href="#">Подсветка буквы сзади</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Баннеры</a></li>
                                                <li><a href="#">Световые короба</a></li>
                                                <li><a href="#">Брендирование авто</a></li>
                                                <li class="navbar-nav-parent 1">
                                                    <a href="#">Оформление витрин</a>
                                                    <ul class="navbar-nav-dropdown">
                                                        <li><a href="#">Несветовые буквы</a></li>
                                                        <li><a href="#">Световые буквы</a></li>
                                                        <li><a href="#">Буква световая
                                                                (ручная сборка)</a></li>
                                                        <li><a href="#">Подсветка буквы сзади</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Информационные стенды</a></li>
                                                <li><a href="#">Штендеры</a></li>
                                                <li class="navbar-nav-parent 2">
                                                    <a href="#">Таблички</a>
                                                    <ul class="navbar-nav-dropdown">
                                                        <li><a href="#">Несветовые буквы</a></li>
                                                        <li><a href="#">Световые буквы</a></li>
                                                        <li><a href="#">Буква световая
                                                                (ручная сборка)</a></li>
                                                        <li><a href="#">Подсветка буквы сзади</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="sidebar-navbar__item">
                                    <div class="sidebar-navbar__item-title">
                                        <p>Комплексные
                                            решения</p>
                                    </div>
                                    <div class="sidebar-navbar__item-contain">
                                        <div class="sidebar-navbar__nav-wrapper">
                                            <ul class="sidebar-navbar__nav">
                                                <li><a href="#">
                                                        Реклама на транспорте</a></li>
                                                <li><a href="#">Витрины магазинов</a></li>
                                                <li><a href="#">Дизайн ресепшн</a></li>
                                                <li><a href="#">Световые короба</a></li>
                                                <li><a href="#">Рекламные вывески</a></li>
                                                <li><a href="#">Информационные стенды</a></li>
                                                <li><a href="#">Интерьеры магазинов</a></li>
                                                <li><a href="#">Крышные установки</a></li>
                                                <li><a href="#">Входные группы</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="services-block__main width-9 lg-width-12">
                            <div class="mb-20">
                                <div class="mb-40 md-mb-20">
                                <div class="text-paragraph">
                                    <p>Рекламные вывески из объемных букв широко применяются как в наружной, так и в
                                        интерьерной рекламе(внутри помещений). Они используются при оформлении банков,
                                        юридических компаний, торговых и развлекательных центров, магазинов, аптек,
                                        гостиниц, ночных клубов, баров, ресторанов и т.д.</p>
                                    <p>Рекламная мастерская «Rich Art» может предложить Вам изготовление объемных букв
                                        в следующих вариациях:</p>
                                </div>
                            </div>
                            <div class="goods-list mb-30">
                                {% include 'elements/goods-item.twig' with {title: 'Объемные буквы с контражурной подсветкой.', text: 'Объемные буквы с контражурной подсветкой – считается одним из наиболее стильных типов вывесок. За счет своей оригинальности, стильности и правильно подобранного освещения буквы с контражуром смотрятся очень респектабельно и солидно. Они могут использоваться, как: фасадные и интерьерные вывески, логотипы для ресепшн.'} %}
                                {% include 'elements/goods-item.twig' with {title: 'Объемные буквы с контражурной подсветкой.', text: 'Объемные буквы с контражурной подсветкой – считается одним из наиболее стильных типов вывесок. За счет своей оригинальности, стильности и правильно подобранного освещения буквы с контражуром смотрятся очень респектабельно и солидно. Они могут использоваться, как: фасадные и интерьерные вывески, логотипы для ресепшн.'} %}
                                {% include 'elements/goods-item.twig' with {title: 'Объемные буквы с контражурной подсветкой.', text: 'Объемные буквы с контражурной подсветкой – считается одним из наиболее стильных типов вывесок. За счет своей оригинальности, стильности и правильно подобранного освещения буквы с контражуром смотрятся очень респектабельно и солидно. Они могут использоваться, как: фасадные и интерьерные вывески, логотипы для ресепшн.'} %}
                                {% include 'elements/goods-item.twig' with {title: 'Объемные буквы с контражурной подсветкой.', text: 'Объемные буквы с контражурной подсветкой – считается одним из наиболее стильных типов вывесок. За счет своей оригинальности, стильности и правильно подобранного освещения буквы с контражуром смотрятся очень респектабельно и солидно. Они могут использоваться, как: фасадные и интерьерные вывески, логотипы для ресепшн.'} %}
                            </div>
                            {% include 'components/pagination.twig' %}
                            </div>
                            <div class="text-center all-services-btn">
                                <span class="mr-15 minw300 btn-filter btn btn-primary btn-primary--top btn-primary--bordered btn-primary--right-shadow bg-brand2 fz21">все услуги</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="section-inner">
                    <div class="banner bg-brand">
                        <div class="banner-image">
                            <div class="banner-circle"></div>
                            <div class="banner__icon">
                                <svg class="icon-info"><use xlink:href="images/svg-icons.svg#info" /></svg>
                            </div>
                        </div>
                        <div class="banner-contain fx fx-middle">
                            <div class="text-paragraph text-white">
                                <p>Рекламные вывески из объемных букв широко применяются как в наружной, так и в
                                    интерьерной рекламе(внутри помещений). Они используются при оформлении банков,
                                    юридических компаний, торговых и развлекательных центров, магазинов, аптек,
                                    гостиниц, ночных клубов, баров, ресторанов и т.д. Рекламная мастерская
                                    «Rich Art» может предложить Вам изготовление объемных букв
                                    в следующих вариациях:</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="section-inner">
                    {% include "elements/section-title.twig" with {"title": "Наша продукция" ,"type" : "big"} %}
                    <div class="grid grid-40 md-grid-20 fx fx-strech fx-center thumbnails-services thumbnails-services--small  mb-25">
                        <div class="width-1-4 lg-width-1-2 sm-width-12">
                            <div class="thumbnail centered">
                                <div class="thumbnail__top">
                                    <div class="thumbnail__img" data-mh="prod-thumbnail-img">
                                        <a href="#" class="lh-0">
                                            <svg class="svg-icon icon-signboard">
                                                <use xlink:href="images/svg-icons.svg#signboard"/>
                                            </svg>
                                        </a>
                                    </div>
                                    <div class="fz22 lg-fz18 text-uppercase thumbnail-text fx fx-middle fx-center" data-mh="thumbnail-services-text">
                                        <p>Объемные буквы</p>
                                    </div>
                                </div>
                                <div class="thumbnail-caption" data-mh="thumbnail-services-caption">
                                    <p>Отличный вариант для рекламы автозаправочных станций, отелей, автосалонов</p>
                                </div>
                            </div>
                        </div>
                        <div class="width-1-4 lg-width-1-2 sm-width-12">
                            <div class="thumbnail centered">
                                <div class="thumbnail__top">
                                    <div class="thumbnail__img" data-mh="prod-thumbnail-img">
                                        <a href="#" class="lh-0">
                                            <svg class="svg-icon icon-bukvi">
                                                <use xlink:href="images/svg-icons.svg#bukvi"/>
                                            </svg>
                                        </a>
                                    </div>
                                    <div class="fz22 lg-fz18 text-uppercase thumbnail-text fx fx-middle fx-center" data-mh="thumbnail-services-text">
                                        <p>Объемные буквы</p>
                                    </div>
                                </div>
                                <div class="thumbnail-caption" data-mh="thumbnail-services-caption">
                                    <p>Отличный вариант для рекламы автозаправочных станций, отелей, автосалонов</p>
                                </div>
                            </div>
                        </div>
                        <div class="width-1-4 lg-width-1-2 sm-width-12">
                            <div class="thumbnail centered">
                                <div class="thumbnail__top">
                                    <div class="thumbnail__img" data-mh="prod-thumbnail-img">
                                        <a href="#" class="lh-0">
                                            <svg class="svg-icon icon-plotter">
                                                <use xlink:href="images/svg-icons.svg#plotter"/>
                                            </svg>
                                        </a>
                                    </div>
                                    <div class="fz22 lg-fz18 text-uppercase thumbnail-text fx fx-middle fx-center" data-mh="thumbnail-services-text">
                                        <p>Объемные буквы</p>
                                    </div>
                                </div>
                                <div class="thumbnail-caption" data-mh="thumbnail-services-caption">
                                    <p>Отличный вариант для рекламы автозаправочных станций, отелей, автосалонов</p>
                                </div>
                            </div>
                        </div>
                        <div class="width-1-4 lg-width-1-2 sm-width-12">
                            <div class="thumbnail centered">
                                <div class="thumbnail__top">
                                    <div class="thumbnail__img" data-mh="prod-thumbnail-img">
                                        <a href="#" class="lh-0">
                                            <svg class="svg-icon icon-korob">
                                                <use xlink:href="images/svg-icons.svg#korob"/>
                                            </svg>
                                        </a>
                                    </div>
                                    <div class="fz22 lg-fz18 text-uppercase thumbnail-text fx fx-middle fx-center" data-mh="thumbnail-services-text">
                                        <p>Световые короба</p>
                                    </div>
                                </div>
                                <div class="thumbnail-caption" data-mh="thumbnail-services-caption">
                                    <p>Брендмауэр – относительно «молодой» для нашей страны вид рекламной конструкции</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% include "elements/more-el.twig" with {"text": "Вся продукция"} %}
                </div>
            </div>
        </section>
    </main>



{% endblock %}