<footer class="page-footer">
    <section class="mb-85">
        <div class="container section-inner">
            <div class="grid grid-100">
                <div class="width-4 fx-column fx-justify">
                    <div>
                        <span class="footer-logo">
                        <img src="images/logo-footer.svg" alt="">
                    </span>
                        {% include "../components/shedule.twig" with {"classes": "text-brand2"} %}
                    </div>
                    <div class="text-left text-light text-white list-mb-7">
                        <p>Воронеж</p>
                        <p>Московский проспект, д. 11/6</p>
                        <a href="mailto:info@yandex.ru" class="footer__mail">info@yandex.ru</a>
                    </div>
                </div>
                <div class="width-8">
                    <div class="grid footer-nav__wrapper">
                        <div class="width-1-3">
                            <div class="fz20 mb-15 text-uppercase text-white footer-nav__title">
                                <p>Услуги компании</p>
                            </div>
                            <nav class="footer-nav">
                                <a href="#">Вывески</a>
                                <a href="#">Объемные буквы</a>
                                <a href="#">Баннеры</a>
                                <a href="#">Световые короба</a>
                                <a href="#">Брендирование авто</a>
                                <a href="#">Оформление витрин</a>
                                <a href="#">Информационные стенды</a>
                                <a href="#">Штендеры</a>
                                <a href="#">Штендеры</a>
                            </nav>
                        </div>
                        <div class="width-1-3">
                            <nav class="footer-nav">
                                <a href="#">О компании</a>
                                <a href="#">Карта сайта</a>
                                <a href="#">Схема проезда</a>
                            </nav>
                        </div>
                        <div class="width-1-3">
                            <div class="mb-35">
                                <a href="tel:+74732510403" class="footer__phone">+7 (473) 251-04-03</a>
                                <a href="tel:+74732911213" class="footer__phone">+7 (473) 291-12-13</a>
                            </div>
                            <a href="#" class="btn btn-sec bg-brand2 fz15">
                                Написать руководству
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-footer__copyright-panel">
        <div class="container">
            <div class="section-inner">
                <div class="fx fx-justify">
                    <div class="list-mr-15 fx fx-left">
                        <p>Агентство "рекламное время"</p>
                        <p>ИНН 67373783883</p>
                    </div>
                    <div>
                        <a href="#" class="">создание сайта</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>